body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: rgb(241, 182, 106);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.container {
            max-width: 70vw;
            background: white;
            margin-top: 0;
            padding-top: 0;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url(/CSS/Exercise/background.jpg);
            
        }

h1 {
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    text-decoration: underline;
    color: rgb(31, 133, 223);
}
h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    color: rgb(31, 133, 223);
}
p{
    width: 50vw;
    margin: auto;
    padding: 10PX;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
